{% extends 'base.html.twig' %}
{% block title %} CGU {% endblock %}
{% block stylesheets %} <link rel="stylesheet" href="{{ asset('annonce/css/style.css') }}"/> {% endblock %}
{% block h1 %}CGU{% endblock %}
{% block body %}
    <span>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis maximus, justo in aliquam aliquam, erat augue ultricies tellus, non hendrerit turpis ex eget magna. Cras non arcu a nisi faucibus auctor. Maecenas egestas nisi nec sapien eleifend blandit. Donec laoreet dapibus nibh. Nam finibus turpis a sapien tincidunt, sit amet rhoncus tellus dictum. Ut efficitur nulla eu turpis viverra, in laoreet est varius. In placerat lorem id risus varius consectetur. Maecenas et blandit ex, quis euismod dui. Sed volutpat nibh in massa tincidunt imperdiet. Maecenas malesuada suscipit sem at hendrerit.</span>
{% endblock %}